// Calculates a = x*y
// a is a local variable
// x & y are static variables
// ensuring that a is initially zero
push constant 0
pop local 0
push static 0
pop local 5 // making local 5 equal to x because why not

// Put your code here.
// we basically just loop and keep incrementing our a value until our x value becomes zero (this assumes x is > 0)
push constant 0
push static 0
eq // checking if x == 0
if-goto END

// checking if x is negative



push constant 0
push static 1 // if y is zero
eq
if-goto END

// if x > 0
label LOOP
    push constant 0
    push local 5
    eq // checking if x == 0 we go to the end
    if-goto END

    push static 1
    push local 0
    add
    pop local 0
    push local 5
    push constant 1
    sub
    pop local 5

    goto LOOP

 // label XNEGATIVE

label END
goto END