// Contains a function ArrMax.arrMax that finds and returns the largest element in the array a of length b.
// a & b are both supplied as arguments


// Put your code here.
function ArrMax.arrMax 2
push static 2
pop temp 0

push static 1
pop pointer 1 // setting that 0 to the current element

push argument 0
pop local 0

push that 0
pop temp 1

push constant 0
pop temp 2 // this will be the incrementor thing

label LOOP
    // checking that we are still in range
    push temp 2
    push temp 0
    sub // if this is not less than we goto end
    push constant 0
    lt
    not
    if-goto END

    // if we are still here we aight
    // checking if current element is greater than static 0
    push static 1
    push temp 2
    add
    pop pointer 1 // resetting pointer 1 to the current element
    
    push temp 2
    push constant 1
    add
    pop temp 2
    
    push that 0
    push temp 1
    sub // if that 0 is greater than static this will be positive
    push constant 0
    gt
    not
    if-goto LOOP // if this is < 0 we just go back to loop
    // otherwise we reset static 0
    push that 0
    pop temp 1
    
    goto LOOP

label END
    push temp 1
    return
