// Contains a function Fib.fib that calculates and returns the nth Fibonacci number recursively
// n is supplied as an argument

// Put your code here.

function Fib.fib 1

push constant 1
pop local 0 

// checking if arg is <= 0 
push argument 0
push constant 0
gt
not
if-goto LESSTHAN


// otherwise we can call the stuff we need

push argument 0
push constant 2
sub // this will be x-2
call Fib.fib 1

push argument 0
push constant 1
sub // this will be x-1
call Fib.fib 1

add // adding the result of the functions

pop local 0

label LESSTHAN

push local 0

return