push constant 2
pop static 1

push static 1
push constant 2
lt
if-goto finalllabel

push constant 3
pop static 1
goto finalfinallabel

label finallabel
	goto finallabel

label finalfinallabel
	goto finalfinallabel